<%= form_with(model: blog, local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :author_type %>
    <%= form.select :author_type, ['User', 'Guest', 'Admin'] %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="error">
    <% if blog.errors.any? %>
      <h4>Validation Errors</h4>
      <ul>
        <% blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%= form.submit %>
<% end %>
