<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<h1>Viewing Blog</h1>

<div>
  <span class="show-head">Title: <span>
  <span class="show-value"><%= @blog&.title %><span>
</div>

<div>
  <span class="show-head">Author Type: <span>
  <span class="show-value"><%= @blog&.author_type %><span>
</div>

<div style="padding-bottom: 15px;">
  <span class="show-head">Body: <span>
  <span class="show-value"><%= @blog&.content %><span>
</div>

<div style="padding-bottom: 5px"><%= link_to "Edit Blog", edit_blog_path(@blog&.id), method: "get", class: "button" %></div>
<div style="padding-bottom: 5px"><%= link_to "Delete Blog", blog_path(@blog&.id), method: "delete", class: "button", data: { confirm: "Are you sure, you want to delete blog?" } %></div>
<div style="padding-bottom: 5px"><%= link_to "Back to Home", root_path, method: "get", class: "button" %></div>
